{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

<div class="d-flex align-items-center justify-content-center position-relative over-flow">
    <img class="icon-login" src="{% static 'img/1.svg' %}" alt="">
    <img class="icon-login2" src="{% static 'img/2.svg' %}" alt="">
    <img class="icon-login3" src="{% static 'img/3.svg' %}" alt="">
    <img class="icon-login4" src="{% static 'img/4.svg' %}" alt="">
    <img class="icon-login5" src="{% static 'img/5.svg' %}" alt="">
    <img class="icon-login6" src="{% static 'img/6.svg' %}" alt="">
    <img class="icon-login7" src="{% static 'img/7.svg' %}" alt="">
    <img class="icon-login8" src="{% static 'img/8.svg' %}" alt="">
    <img class="icon-login9" src="{% static 'img/9.svg' %}" alt="">
    <img class="icon-login10" src="{% static 'img/10.svg' %}" alt="">
    <img class="icon-login11" src="{% static 'img/11.svg' %}" alt="">
    <img class="icon-login12" src="{% static 'img/12.svg' %}" alt="">
    <div class=" col-sm-12 col-md-9 col-lg-7 col-xl-5 position-relative px-login">
        <img class="position-absolute-before animated zoomIn delay-1s " src="{% static 'img/before-login.png' %}" alt="">
        <div class="border border-radius  my-5 px-0 bg-login-box">
            <div class="w-100 text-center py-4">
                <img src="{% static 'img/img-login.svg' %}" alt="" width="220">
            </div>
            <div class="text-center title-blog p-3">
                <strong class="pr-2">ورود به حساب کاربری</strong>
            </div>
            <form method="post" action="">

                <div class="col-12 my-3">
                    <label class=" d-flex align-items-center" for=""> <i class="ti-email text-gray text-title ml-2"></i> نام کاربری  </label>

{#                    <input class="form-control  py-4" name="email" id="email" type="text" placeholder="ایمیل خود را وارد کنید"">#}

                    {% csrf_token %}
                    {{ login_form.username }}
                    {% for error in login_form.username.errors  %}
                        <span style="color: red">{{ error }}</span>

                    {% endfor %}

                </div>
                <div class="col-12 my-3">
                    <label class=" d-flex align-items-center" for="password"> <i class="ti-lock text-gray text-title ml-2"></i> رمز عبور </label>
{#                    <input class="form-control  py-4" name="password" id="password" type="text" placeholder="رمز عبور خود را وراد کنید">#}
                    {{ login_form.password }}
                      {% for error in login_form.password.errors  %}
                          <span style="color: red">{{ error }}</span>



                      {% endfor %}

                </div>
                <!--captcha-->
                <!--
         <div class="captcha mx-3">
             <div class="spinner">
                 <label>
                     <input type="checkbox" onclick="$(this).attr('disabled','disabled');">
                     <span class="checkmark"><span>&nbsp;</span></span>
                 </label>
             </div>
             <div class="text mr-2">
                 من ربات نیستم
             </div>
             <div class="logo mr-auto">
                 <img src="https://forum.nox.tv/core/index.php?media/9-recaptcha-png/"/>
                 <p>reCAPTCHA</p>
                 <small>حریم خصوصی - شرایط</small>
             </div>
         </div>
-->
                <!--end-captcha-->
{#            {{ login_form.non_field_errors }}#}
                <div class="d-flex align-items-center justify-content-between flex-wrap px-3">
                    <a href="#" class="text-md text-green py-2">رمز عبور خود را فراموش کرده ام !</a>
                    <div class="check-filter py-2">
                        <input type="checkbox" id="remember" name="remember">
                        <label class="m-0 text-md" for="remember">مرا به خاطر بسپار</label>
                    </div>
                </div>
                <div class="px-3">
                    <button class="btn-all btn link mt-4 d-block w-100 text-center" type="submit">ورود</button>
                    <div class="pt-4 text-center">
                        <a href="/register" class="text-md  text-gray  "> اگر در تم شاپ حساب کاربری ندارید ثبت نام کنید</a></div>
                    <div class="position-relative-border mt-5">
                        <p class="m-0 text-gray text-md">ورود با اکانت</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-xl-center my-4">
                        <a class="ml-2" href=""><img src="{% static 'img/facebook.svg' %}" alt=""></a>
                        <a class="mr-2" href=""><img src="{% static 'img/google.svg' %}" alt=""></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}