{% load static%}
<!--weblog-->
<section class="weblog-section mt-5">
    <div class="myContainer d-flex justify-content-between">
        <h1 class="text-title">آخرین مطالب وبلاگ</h1>
        <div class="see-all-div">
            <a href="#" class="all-them-link">مشاهده تمام مطالب</a>
        </div>
    </div>

    <div class="myContainer mt-4">
        <div class="col-lg-3 col-sm-6 col-12 mt-3">
            <div class="card border-0 shadow-sm overflow-hidden blog-box">
                <a href="">
                    <img src="{% static 'img/blog.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body px-2">
                        <h2 class="title-blog">که طراحی باید بداند css بیست ترفند
                            و تکنیک</h2>
                        <p class="body-blog text-gray mt-2">
                            زیادی وجود دارد که CSS در دنیای فناوری امروز تکنیک و ترفندهای
                            طراحان با استفاده از آن می توانند وب سایت ها را طراحی کنند. اهمیت
                            .ثابت شده است CSS آگاهی از
                        </p>
                    </div>
                    <div class="card-footer px-2 border-0 bg-white">
                        <div class="d-flex justify-content-between">
                            <p class="text-sm text-gray">نویسنده : محمد محمدی</p>
                            <div class="d-flex flex-row-reverse align-items-center">
                                <span class="text-sm text-gray mr-2"> 22 آذر 1399</span>

                                <i class="ti-time text-gray text-sm"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mt-3">
            <div class="card border-0 shadow-sm overflow-hidden blog-box">
                <a href="">
                    <img src="{% static 'img/blog.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body px-2">
                        <h2 class="title-blog">که طراحی باید بداند css بیست ترفند
                            و تکنیک</h2>
                        <p class="body-blog text-gray mt-2">
                            زیادی وجود دارد که CSS در دنیای فناوری امروز تکنیک و ترفندهای
                            طراحان با استفاده از آن می توانند وب سایت ها را طراحی کنند. اهمیت
                            .ثابت شده است CSS آگاهی از
                        </p>
                    </div>
                    <div class="card-footer px-2 border-0 bg-white">
                        <div class="d-flex justify-content-between">
                            <p class="text-sm text-gray">نویسنده : محمد محمدی</p>
                            <div class="d-flex flex-row-reverse align-items-center">
                                <span class="text-sm text-gray mr-2"> 22 آذر 1399</span>

                                <i class="ti-time text-gray text-sm"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mt-3">
            <div class="card border-0 shadow-sm overflow-hidden blog-box">
                <a href="">
                    <img src="{% static 'img/blog.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body px-2">
                        <h2 class="title-blog">که طراحی باید بداند css بیست ترفند
                            و تکنیک</h2>
                        <p class="body-blog text-gray mt-2">
                            زیادی وجود دارد که CSS در دنیای فناوری امروز تکنیک و ترفندهای
                            طراحان با استفاده از آن می توانند وب سایت ها را طراحی کنند. اهمیت
                            .ثابت شده است CSS آگاهی از
                        </p>
                    </div>
                    <div class="card-footer px-2 border-0 bg-white">
                        <div class="d-flex justify-content-between">
                            <p class="text-sm text-gray">نویسنده : محمد محمدی</p>
                            <div class="d-flex flex-row-reverse align-items-center">
                                <span class="text-sm text-gray mr-2"> 22 آذر 1399</span>

                                <i class="ti-time text-gray text-sm"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 mt-3">
            <div class="card border-0 shadow-sm overflow-hidden blog-box">
                <a href="">
                    <img src="{% static 'img/blog.jpg' %}" alt="" class="img-fluid">
                    <div class="card-body px-2">
                        <h2 class="title-blog">که طراحی باید بداند css بیست ترفند
                            و تکنیک</h2>
                        <p class="body-blog text-gray mt-2">
                            زیادی وجود دارد که CSS در دنیای فناوری امروز تکنیک و ترفندهای
                            طراحان با استفاده از آن می توانند وب سایت ها را طراحی کنند. اهمیت
                            .ثابت شده است CSS آگاهی از
                        </p>
                    </div>
                    <div class="card-footer px-2 border-0 bg-white">
                        <div class="d-flex justify-content-between">
                            <p class="text-sm text-gray">نویسنده : محمد محمدی</p>
                            <div class="d-flex flex-row-reverse align-items-center">
                                <span class="text-sm text-gray mr-2"> 22 آذر 1399</span>

                                <i class="ti-time text-gray text-sm"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--end weblog-->

<!--Newsletters-->
<section class="Newsletters mt-5">
    <div class="myContainer">
        <div class="col-12 col-sm-6 col-md-6 col-lg-7 mx-auto h-100 my-auto pr-0 text-center">
            <p class="text-white text-title m-0">با عضویت در خبرنامه تم شاپ بهترین ها را در ایمیل خود داشته
                باشید!</p>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-5 pl-0 mt-3 my-sm-auto ">
            <form action="" class="d-flex my-auto">
                <input type="text" class="form-control text-title pr-3" placeholder="ایمیل خود را وارد نمایید.">
                <button class="btn btn-success mr-2 text-title">عضویت</button>
            </form>
        </div>
    </div>
</section>
<!--end Newsletters-->

<!--footer-->
<footer class="footer">
    <div class="myContainer pt-2 py-md-4 py-lg-4">
        <div class="col-lg-3 col-sm-4 col-6">
            <div class="d-flex flex-column">
                <h2 class="text-title">لینک های مرتبط</h2>
                <a href="" class="text-md mt-3">قالب های html</a>
                <a href="" class="text-md mt-3">قالب های html</a>
                <a href="" class="text-md mt-3">قالب های html</a>
                <a href="" class="text-md mt-3">قالب های html</a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-6">
            <div class="d-flex flex-column">
                <h2 class="text-title">لینک های مرتبط</h2>
                <a href="" class="text-md mt-3">قالب های html</a>
                <a href="" class="text-md mt-3">قالب های html</a>
                <a href="" class="text-md mt-3">قالب های html</a>
                <a href="" class="text-md mt-3">قالب های html</a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-6 mt-4 mt-sm-0">
            <div class="d-flex flex-column">
                <h2 class="text-title">لینک های مرتبط</h2>
                <a href="" class="text-md mt-3">قالب های html</a>
                <a href="" class="text-md mt-3">قالب های html</a>
                <a href="" class="text-md mt-3">قالب های html</a>
                <a href="" class="text-md mt-3">قالب های html</a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-12 mt-4 mt-lg-0">
            <div class="d-flex flex-column">
                <img src="{% static 'img/footer-logo.png' %}" alt="" width="70">
                <h2 class="text-title mt-2">بزرگترین مرجع خرید و فروش قالب های حرفه ای</h2>
                <p class="text-gray mt-2 text-md">تم شاپ ، بزرگترین مرجع قالب های فارسی و رایگان به همراه پشتیبانی
                    توسط
                    تیم حرفه ای و
                    مجرب</p>
            </div>
        </div>
    </div>

    <div class="myContainer py-3">
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex flex-column">
                <p class="mt-3">
                    <img src="{% static 'img/address.svg' %}" alt="" width="14">
                    <span class="text-md"> خیابان ملک - کوچه ایرانیاد - پلاک 1</span>
                </p>
                <p class="mt-3">
                    <img src="{% static 'img/phone.svg' %}" alt="" width="14">
                    <span class="text-md">02191303737</span>
                </p>
                <p class="mt-3">
                    <img src="{% static 'img/email.svg' %}" alt="" width="14">
                    <span class="text-md">info@themeshop.ir</span>
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="d-flex flex-column mt-3">
                <p class="text-md text-sm-center">با ما در شبکه های اجتماعی همراه باشید:</p>
                <div class="d-flex justify-content-start justify-content-sm-center  align-items-center mt-4">
                    <a href="">
                        <img src="{% static 'img/linkdin.svg' %}" alt="" width="25">
                    </a>
                    <a href="" class="mx-5">
                        <img src="{% static 'img/twiter.svg' %}" alt="" width="25">
                    </a>
                    <a href="">
                        <img src="{% static 'img/instagram.svg' %}" alt="" width="25">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-12 mt-4 mt-md-0 ">
            <div class="d-flex justify-content-center">
                <img src="{% static 'img/namad-1.png' %}" class="ml-2" alt="" width="80">
                <img src="{% static 'img/namad.png' %}" class="mr-2" alt="" width="80">
            </div>
        </div>
    </div>
</footer>
<!--end footer-->