{% load static %}
<div class="header pb-4 pb-md-0" id="topHeader">
    <div class="d-flex d-md-none justify-content-between px-4">
        <button type="button" class="navbar-btn" data-toggle="modal" data-target="#navbar-modal">
            <span class="ti-menu"></span>
        </button>

        <a href="/about-us" class="navbar-brand mr-0">
            <img src="{% static 'img/logo.png' %}" class="logo-img" alt="themeshop">
        </a>
    </div>


    <!-- Modal -->
    <div class="modal fade navbar-modal" id="navbar-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog my-1 ">
            <div class="modal-content border-0">
                <div class="d-flex flex-column pr-2">

                    <a href="/about-us">
                        <img src="{% static 'img/logo.png' %}" class="logo-img" alt="">
                    </a>

                    <div class="p-2 active">
                        <a href="#" class="text-md">صفحه اصلی </a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-md">قوانین سایت</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-md">راهنمای خرید</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-md">کسب درآمد</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-md">مقالات سایت</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-md">درباره ما</a>
                    </div>
                    <div class="p-2">
                        <a href="#" class="text-md">تماس با ما</a>
                    </div>
                </div>

                <div class="col-12">
                    <div class="dropdown-divider"></div>
                </div>


                <div class="d-flex flex-column pr-2">
                    <h2 class="title-blog">دسته بندی قالب ها</h2>
                    <ul class="accordion mt-2" id="accordionCategory">
                        <li class="mt-3">
                            <div class="d-flex align-items-center">
                                <a class="d-flex w-100" href="" data-toggle="collapse" data-target="#category_1">
                                    <p> دسته بندی 1</p>
                                    <i class="ti-angle-down mr-auto ml-3"></i>
                                </a>
                            </div>
                            <ul class="collapse pr-2" data-parent="#accordionCategory" id="category_1">
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mt-3">
                            <div class="d-flex align-items-center">
                                <a class="d-flex w-100" href="" data-toggle="collapse" data-target="#category_2">
                                    <p> دسته بندی 1</p>
                                    <i class="ti-angle-down mr-auto ml-3"></i>
                                </a>
                            </div>
                            <ul class="collapse pr-2" data-parent="#accordionCategory" id="category_2">
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mt-3">
                            <div class="d-flex align-items-center">
                                <a class="d-flex w-100" href="" data-toggle="collapse" data-target="#category_3">
                                    <p> دسته بندی 1</p>
                                    <i class="ti-angle-down mr-auto ml-3"></i>
                                </a>
                            </div>
                            <ul class="collapse pr-2" data-parent="#accordionCategory" id="category_3">
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mt-3">
                            <div class="d-flex align-items-center">
                                <a class="d-flex w-100" href="" data-toggle="collapse" data-target="#category_4">
                                    <p> دسته بندی 1</p>
                                    <i class="ti-angle-down mr-auto ml-3"></i>
                                </a>
                            </div>
                            <ul class="collapse pr-2" data-parent="#accordionCategory" id="category_4">
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                                <li class="mt-3">
                                    <a href="">وردپرس</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="myContainer d-none d-md-flex">
        <a href="/about-us" class="navbar-brand mr-0">
            <img src="{% static 'img/logo.png' %}" class="logo-img" alt="themeshop">
        </a>
        <ul class="d-flex mr-auto my-auto menu-link">
            <li class="p-2 active">
                <a class="" href="/">صفحه اصلی </a>
            </li>
            <li class="p-2">
                <a class="" href="/privacy">قوانین سایت</a>
            </li>
            <li class="p-2">
                <a class="" href="/site-guide">راهنمای خرید</a>
            </li>

            <li class="p-2">
                <a class="" href="#">مقالات سایت</a>
            </li>
            <li class="p-2">
                <a class="" href="/about-us">درباره ما</a>
            </li>
            <li class="p-2">
                <a class="" href="/contact-us">تماس با ما</a>
            </li>
        </ul>
    </div>

    <div class="col-12 px-0">
        <div class="dropdown-divider"></div>
    </div>

    <div class="myContainer my-3">
        <div class="col-lg-6 col-sm-6 col-7 pr-0 pl-0 pl-sm-1 my-auto">
            <form action="{% url 'search_results' %}">
                <div class="d-flex align-items-center search-box shadow-sm">
                    <input name="q" type="text" placeholder="مثال: قالب های وردپرس" class="form-control">
                    <button>
                        <i class="ti-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-sm-6 col-5 pl-0 my-auto">
            <div class="d-flex justify-content-end">
                <a href="" class="d-flex ml-3 ml-sm-0">
                    <img src="{% static 'img/cart.svg' %}" class="cart-img" alt="">
                    <span class="d-none d-sm-block mx-2">سبد خرید</span>
                    <span class="badge badge-success rounded-circle text-md ">2</span>
                </a>
                {% if not request.user.is_authenticated %}
                      <a href="/login" class="mr-2 mr-sm-5 d-flex">
                    <img src="{% static 'img/user.svg' %}" class="cart-img" alt="">
                    <span class="d-none d-sm-block mr-2">ورود</span>

                </a>
                 <a href="/register" class="mr-2 mr-sm-5 d-flex">
                    <img src="{% static 'img/user.svg' %}" class="cart-img" alt="">
                    <span class="d-none d-sm-block mr-2"> ثبت نام</span>

                </a>
                 {% else %}

                 <a href="/logout" class="mr-2 mr-sm-5 d-flex">
                    <img src="{% static 'img/user.svg' %}" class="cart-img" alt="">
                    <span class="d-none d-sm-block mr-2"> خروج</span>

                </a>

                
                {% endif %} 

            </div>
        </div>
    </div>

    <div class="myContainer mt-4 d-none d-md-flex justify-content-between">
        <div class="col-lg-9 col-xl-10 col-md-12 pr-0 pl-0 pl-lg-2">
            <div class="category-list">
                <ul>
                    {% for category in categories %}
                        <li>
                        <a href="#" class="ml-3">
                            {{ category.name }}
                        </a>
                        <div class="child shadow-sm">
                            <ul>
                               {%  for sub in category.scategory.all %}
                                    <li><a href="">{{ sub.name }}</a></li>

                               {% endfor %}


                            </ul>
                            <img src="{% static 'img/slider.png' %}" alt="">
                        </div>
                    </li>

                    {% endfor %}


                </ul>
            </div>
        </div>

    </div>
</div>